.list{

    list-style-type: none;
    position: fixed;
    bottom:15px;
    right:15px;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    --len:15px;

    background:var(--primary);
    color:white;
    padding: var(--len);
    font-size: var(--len);
    border-radius: 100%;
    z-index: 40;
    height: fit-content;
    width: fit-content;
}