.container{
    height: fit-content;
    background-color: #1a1a1a;
    font-family: Roboto, serif;
    padding: 10vh;
    width: 100%;
    box-shadow: -2px 0 12px black;
}

.socials{
    font-family: 'Russo One', serif;
    font-weight: bold;
    color:var(--primary);
    font-size: 230%;
    width: 100%;
    text-align: center;
}
.list{
    list-style-type: none;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    color:var(--primary);
    font-size: 200%;
    gap:25px;
}

.desc{
    color:var(--text);
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.highlight{
    color: var(--primary);
}