@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: white;
  --secondary-background: rgb(17, 17, 17);
  --background: white;
  --tertiary-background: #051242;
  --pm: 87, 116, 211;
  --primary: rgb(30, 144, 255);
  --secondary: rgba(var(--primary), 0.3);
  --accent: #2d2d2d;

  font-family: Roboto, serif;
  margin: 0;
  padding: 0;
  background: var(--background);
}

/*@media (prefers-color-scheme: dark) {}*/

button{
  all:unset;
  cursor: pointer;
}

h2{
  color:var(--primary);
  position: sticky;
  bottom:0;
  font-weight: bold;
  font-size: 20px;
  background: var(--secondary-background);
  padding:5px 20px;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 12px black;
  display: flex;
  width: 100%;
  z-index: 1;

  backdrop-filter: blur(10px);
}

@keyframes flash {
  0%{
    box-shadow: 2px 2px 32px var(--primary);
  }
  50%{
    box-shadow: 2px 2px 12px var(--secondary);
  }
  100%{
    box-shadow: 2px 2px 32px var(--primary);
  }
}

a{
  color:var(--primary);
  text-decoration: underline;
}