@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #000000;
  --background: #eeeeee;
  --secondary-background: #00031a;
  --tertiary-background: #051242;
  --primary: #00B66C;
  --secondary: #6beeb9;
  --accent: #cae5ef;
  font-family: Roboto, serif;
  margin: 0;
  padding: 0;
  background: var(--background);
}

/*@media (prefers-color-scheme: dark) {}*/
