@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(0,0,0);
  --background-start-rgb: rgb(214, 219, 220);
  --background-end-rgb: rgb(255, 255, 255);
  --background-img: url("https://pbs.twimg.com/tweet_video_thumb/EzyPT2nVUAIwKbz.jpg:large");
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background: #4bff89;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(255,255,255);
    --background-start-rgb: rgb(0,0,0);
    --background-end-rgb: rgb(0,0,0);
  }
}


textare{
  color: white;
}

*::-webkit-scrollbar{
  background: #212121;
}
*::-webkit-scrollbar-thumb{
  background:#4bff89;
}