.wrapper{
    --error: red;
    --warning: orange;
    --info: #bdbdbd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}
.title{
    background: rgba(5, 18, 66, 0.08);
    width: fit-content;
    position: fixed;
    right:30px;
    z-index: 40;
    backdrop-filter: blur(5px);
    text-align: center;
    padding:10px 30px;
    font-weight: bold;
    color:var(--primary);
    font-family: "Russo One", serif;
    font-size: 30px;
    border-radius: 0 0 10px 10px;
}
.textAreaCtn{
    width: 100%;
}
.logsArea{
    all:unset;
    background: var(--secondary-background);
    color:var(--primary);
    width: calc(100% - 40px);
    padding:20px;
    height: 50vh;
    border-radius: 0 0 10px 10px;
    white-space: pre-wrap;
}
.highlight{
    color:var(--primary);
    margin-left: 5px;
}


.serverInfo{
    height: fit-content;
    width: 100%;
    background: var(--secondary-background);
    margin-bottom: 20px;
    color: var(--text);
    padding: 20px;
    border-radius: 0 0 10px 10px;
}
.serverInfo li{
}
.icon{
    color:var(--primary);
    transform:translateY(7px);
    margin-right: 10px;
    margin-left:10px;
    font-size: 80%;
}

.ctn{
    background: var(--background);
    padding:20px;
    width: 100vw;
}


.line{
    background: var(--tertiary-background);
    display: flex;
    word-break: break-word;
    word-wrap: break-word;
    width: 100%;
    color:var(--text);
    border-left: var(--text) 6px solid;
    white-space: pre-wrap;
}
.line p{
    background: var(--tertiary-background);
    padding: 0 10px;
    text-align: left;
    width:fit-content;
    word-break: keep-all;
}
.box{
    width: 100%;
    white-space: pre-wrap;
}
.num {
    color:gray;
}


.line[data-type="INFO"]{
    color: #2f66d3;
    border-left: #2f66d3 solid 6px;
}
.line[data-type="WARN"]{
    color:orange;
    border-left: orange solid 6px;
}
.line[data-type="ERROR"]{
    color:red;
    border-left: red solid 6px;
}

.moreInfo{
    color:gray;
}

.subtitle{
    color:var(--primary);
    font-size: 120%;
    text-decoration: underline;
}

.errors{
    display: flex;
    flex-wrap: wrap;
}

.construction{
    display: flex;
    flex-wrap: wrap;
    background: white;
}