.wrapper{
    --error: red;
    --warning: orange;
    --info: #bdbdbd;
    --background: #1e1e1e;
    --darker-background: rgba(47, 47, 47, 0.11);
    --accent-color: #4bff89;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title{
    background: var(--darker-background);
    width: 100%;
    text-align: center;
    padding:20px 0;
    font-weight: bold;
    color:var(--accent-color);
    font-family: "Russo One", serif;
    font-size: 40px;
    box-shadow: 2px 2px 12px black;
    position: absolute;
    top:0;
    backdrop-filter: blur(1px);
    border-bottom: var(--accent-color) 2px solid;
}

.title:after{
    content: ' logs below';
    color:gray;
    font-size: 20px;
    font-family: Roboto;
}
.title:before{
    content: 'Paste your ';
    color:gray;
    font-size: 20px;
    font-family: Roboto;
}
.logsArea{
    all:unset;
    background: var(--background);
    padding:20px;
    color:var(--info);
    width:100%;
    height: fit-content;
}
.highlight{
    color:#4bff89;
    margin-left: 5px;
}


.serverInfo{
    height: fit-content;
    width: 100%;
    background: #1e1e1e;
    margin-bottom: 20px;
    color: #afafaf;
}
.serverInfo li{
    display: flex;
}
.icon{
    transform:translateY(3px);
    margin-right: 10px;
    margin-left:10px;
}

.ctn{
    border-top: #4bff89 2px solid;
    background: #1e1e1e;
    padding:20px;
}


.line{
    background: #131313;
    display: flex;
}
.line p{
    background: #131313;
    width:50px;
    text-align: center;
    color:gray;
}
.line span{
}
.line[data-type="INFO"]{
    border-left: #2f66d3 solid 6px;
}
.line[data-type="WARN"]{
    border-left: orange solid 6px;
}
.line[data-type="ERROR"]{
    border-left: red solid 6px;
}


.line[data-type="INFO"]{
    color: #2f66d3;
}
.line[data-type="WARN"]{
    color:orange;
}
.line[data-type="ERROR"]{
    color:red;
}

.moreInfo{
    color:gray;
}
.moreInfo:before{
    content: ' Suggestion: ';
    color:red;
    margin-left: 10px;
    font-weight: bold;
}