.wrapper{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding:30px;
    word-break: break-word;
    gap:20px;
}

.desc{
    background: var(--secondary-background);
    color:var(--text);
    padding:10px 20px;
    border-radius: 4px;
    word-break: break-word;
    word-wrap: break-word;
}

.policyArea{
    background: var(--secondary-background);
    color:var(--text);
    border-radius: 4px;
    padding:10px 20px;
}
.policyArea ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
}
.policyArea h1{
    font-weight: bold;
    font-size: 120%;
}
.num{
    background: var(--primary);
    color:var(--text);
    padding: 1px 20px;
    border-radius: 4px;
}